#nav_bar {
    font-family: Helvetica;
    background-color: black;
    color: white;
    font-size: 12px;
    font-family: bold;
    padding: 5px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
  
img {
    width: 60px;
}

.big_picture {
    width: 500px;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}
  
/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 28px;
    text-decoration: none;
}
  
/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}
  
/* Dropdown button */
.dropdown .dropbtn {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    font-size: 16px;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: auto; /* Important for vertical align on mobile phones */
}
  
/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: black;
    border-bottom-color: skyblue;
}
  
/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 28px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}
  
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    border-bottom-color: skyblue;
}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}